@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
       .bg-gradient-peachy {
    background: linear-gradient(to right, #ffc1cc, #ffe0b2);
  
  }
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
      .no-scrollbar {
        scrollbar-width: none;
      }

}
